#content {
  margin-top: 80px;
}
i { font-size: 0.9em; }
.price {
	font-size: 53px;
}
.price .fa {
	font-size: 22px;
	vertical-align: top;
	margin-top: 15px;
	border-bottom: double;
}
.price .product {
  font-size: 15px;
}
.alert p {
	color: white;
}
.table .actions {
	max-width: 40px;
	text-align: center;
}
