<div ng-controller="CashierCtrl">
	<div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="product in products">
		<div class="thumbnail text-center">
			<div class="price">
				{{ product.price }} <i class="fa fa-try"></i>
			</div>
			<button type="button" class="btn btn-primary btn-block" ng-click="bill.product=product; bill.amount=1" data-toggle="modal" data-target="#billModal">
				{{ product.name }}
			</button>
		</div>
	</div>
	<div ng-if="products.length < 1">
		<p class="alert alert-danger">
			Ürün bulunamadı.
		</p>
		<a href="#product/add" class="btn btn-primary">Yeni Ürün Ekle</a>
	</div>

	<div class="modal" id="billModal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Satış: {{bill.product.name}}</h4>
	      </div>
	      <div class="modal-body">
					<div class="col-sm-6 col-sm-offset-3">
						<div class="thumbnail text-center">
							<div class="price">
								{{bill.amount*bill.product.price}} <i class="fa fa-try"></i>
								<p class="product">
									{{bill.amount}} Adet {{ bill.product.name }}
								</p>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-5 control-label">Adet:</label>
							<div class="col-sm-4">
								<input type="number" class="form-control" ng-model="bill.amount" min="0" autofocus ng-enter="sell()">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
	        <button type="button" class="btn btn-primary" ng-click="sell()">Onayla</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>
