<div ng-controller="StatsCtrl">
  <flot dataset="data" options="chartoptions"></flot>
  <div class="page-header">
    <h3>{{strings.stats}}</h3>
  </div>

  <h4>{{strings.saleStatsByDate}}</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>{{strings.date}}</th>
        <th>{{strings.product}}</th>
        <th>{{strings.amount}}</th>
        <th>{{strings.value}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stat in stats">
        <td>{{$index+1}}</td>
        <td>{{stat.date | date: 'dd.MM.yyyy'}}</td>
        <td>{{stat.productName}}</td>
        <td>{{stat.saleAmount}}</td>
        <td>{{stat.value}} <i class="{{settings.currency.icon}}"></i></td>
      </tr>
    </tbody>
  </table>
</div>
