@import "../../../bower_components/bootswatch-dist/css/bootstrap";
@import "../../../node_modules/font-awesome/css/font-awesome";
@import "source-pro-font";

#content {
  margin-top: 80px;
  min-height: 86%;
}
i { font-size: 0.9em; }
.price {
	font-size: 53px;
}
.price .fa {
	font-size: 22px;
	vertical-align: top;
	margin-top: 15px;
	border-bottom: double;
}
.price .product {
  font-size: 15px;
}
.alert p {
	color: white;
}
.table .actions {
	max-width: 40px;
	text-align: center;
}
.footer {
  text-align: right;
}

#billModal {
  .amount-control {
    .btn-group-vertical {
      width: 120px;

      .up, .down {
        height: 35px;
      }
      .amount-display {
        font-size: 26px;
        line-height: 26px;
      }
    }
  }
}